.rsui-property-label
{
   color: #434A54;
}

.rsui-property-value-placeholder
{
   color: #aab2bd;
   opacity: 1;
}

.rsui-property-container
{
   margin-bottom: 12px;
}

.rsui-property-value-container
{
   color: #5d9cec;
}

.rsui-property-container input
{
   width: 100%;
}

/* Inline Editable */
.inline-style1 .rsui-edit-mode-inline.rsui-editable
{
   border: 1px dashed #e6e9ed;
}

.inline-style1 .rsui-edit-mode-inline.rsui-property-container.rsui-editable:hover
{
   background-color: rgba(79, 193, 233, 0.1);
}

.rsui-inline-controls-container .icon
{
   font-size: 20pt;
}
